.monster-band {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 440px;
}

.monster-deck {
  margin-left: 20px;
}

.normal-text {
  color: white;
}

.attributes {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  background: rgba(157, 157, 157, 1);
  text-align: center;

  height: 50px;
  position: relative;

  .monster-image {
    height: 85px;
    position: absolute;
  }

  .monster-info {
    padding-left: 100px;
  }

  .add-monster {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    cursor: pointer;
  }
}

.monster-healths {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  .healths {
    display: flex;
    flex-direction: column;
  }
}

.monster-attributes {
  font-family: 'PirataOne';
  font-size: 1.5em;

  .h2 {
    font-family: 'Nyala';
  }
}
