.monster-band {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 440px;
}

.monster-deck {
  margin-left: 20px;
}

.attributes {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  background: rgba(157, 157, 157, 0.5);
  text-align: center;

  height: 50px;
  position: relative;

  .monster-image {
    height: 85px;
    position: absolute;
  }

  .monster-info {
    padding-left: 100px;
  }
}

.monster-healths {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  .healths {
    display: flex;
    flex-direction: column;
  }
}

.monster-attributes {
  font-family: 'PirataOne';
  font-size: 1.5em;

  .h2 {
    font-family: 'Nyala';
  }
}