.monster-band {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.monster-deck {
  margin-left: 20px;
  zoom: 0.8;
}

.attributes {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(157, 157, 157, 1);
  text-align: center;
}

.monster-healths {

  padding: 0 10px 10px 10px;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;

  .healths {
    display: flex;
    flex-direction: column;
  }
}

.monster-attributes {
  font-family: 'PirataOne';
  font-size: 1.5em;

  .h2 {
    font-family: 'Nyala';
  }
}

monster-health {
  margin: 10px 0;
}