.monster-health {
  position: relative;
  margin: 5px 10px;
  width: fit-content;

  font-family: 'PirataOne';
}

.health-container {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  height: 50px;
  margin-left: 75px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  .monster-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;

    .icon-holder {
      display: flex;
      align-items: center;

      .text {
        font-size: 1.5rem;
        padding-left: 2px;
      }
    }
  }

  .health-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    border-left: solid 1px black;

    padding-left: 10px;

    .button {
      border: none;
      display: flex;
      align-content: center;
      justify-content: center;

      cursor: pointer;
    }
  }
}

.conditions {
  display: flex;
  margin-top: 5px;
  margin-left: 85px;
}

.status {
  width:25px;
  height: 25px;
  background-size: contain;
  opacity: 0.3;

  &:hover {
    transform: scale(1.2);
  }

  &.active {
    opacity: 1;
    transform: scale(1.2);
  }
}

.disarm {
  grid-area: disarm;
  background-image: url('assets/status/disarm.png')
}

.immobilize {
  grid-area: immobilize;
  background-image: url('assets/status/immobilize.png')
}

.invisible {
  grid-area: invisible;
  background-image: url('assets/status/invisible.png')
}

.muddle {
  grid-area: muddle;
  background-image: url('assets/status/muddle.png')
}

.poison {
  grid-area: poison;
  background-image: url('assets/status/poison.png')
}

.strengthen {
  grid-area: strengthen;
  background-image: url('assets/status/strengthen.png')
}

.stun {
  grid-area: stun;
  background-image: url('assets/status/stun.png')
}

.wound {
  grid-area: wound;
  background-image: url('assets/status/wound.png')
}

.elite {
  background-color: gold;
  color: black;
}