.health-wrapper {
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 30px;
  border: 1px solid grey;
  display: grid;
  grid-template-areas:
    "status1 name plus-ticker"
    "status2 name plus-ticker"
    "status3 id plus-ticker"
    "status4 id health"
    "status5 id health"
    "status6 id minus-ticker"
    "status7 armor minus-ticker"
    "status8 armor minus-ticker";
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(20px 2fr 50px);
}

.player-container,
.monster-container {
  display: flex;
}

.elite {
  box-shadow: 0px 0px 20px Black;
}

.name { grid-area: name; }

.id {
  grid-area: id;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.health { grid-area: health; }

.armor { grid-area: armor; }

.plus-ticker { grid-area: plus-ticker; }

.minus-ticker { grid-area: minus-ticker; }

.status {
  width:20px;
  height: 20px;
}

.status1 { grid-area: status1; }

.status2 { grid-area: status2; }

.status3 { grid-area: status3; }

.status4 { grid-area: status4; }

.status5 { grid-area: status5; }

.status6 { grid-area: status6; }

.status7 { grid-area: status7; }

.status8 { grid-area: status8; }