.search {
  position: relative;

  .character-list {
    position: absolute;
    width: 100%;

    background-color: white;
    border: solid 1px #eeeeee;
    border-top: none;

    z-index: 100;

    .character {
      padding: 0.5em 1em;
      cursor: pointer;

      &:hover {
        background-color: lightblue;
      }

      &:after {
        content: '';
        width: 100%;
        height: 1px;
      }
    }
  }
}