.action-bar {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 20px;

  font-family: Nyala;

  .name {
    font-size: 2.5rem;
  }

  .action-buttons {
    justify-content: right;
    margin-left: auto;

    display: flex;
    align-items: center;

    & > * {
      margin-left: 10px;
    }
  }

  input {
    min-width: 55px;
  }
}

.reset {
  background-color: rgba(225, 83, 38, 0.8);
  color: white;
}

.new-round {
  background-color: #15c3ed;
  color: white;
}