<div class="container">
  <div class="action-bar">
    <action-bar (monsterSearched)="monsterSearched($event)" (playerSearched)="addPlayer($event)"></action-bar>
  </div>
  <div class="initative-band">
    <initative-tracker [characters]="initatives"></initative-tracker>
  </div>
  <div class="combat-band">
    <combat-band></combat-band>
  </div>
  <div class="monster-band">
    <monster-band *ngFor="let m of monsters" [monster]="m" (destroyMonster)="removeMonster($event)"></monster-band>
  </div>

  <monster-modal *ngIf="modalVisible" [monster]="currentMonster" (addMonsters)="addMonsters($event)"></monster-modal>
</div>
