.container {
  display: grid;
  grid-template-rows: 50px 220px 1fr;
  grid-template-columns: 12rem 1fr;
  grid-template-areas:
    "action-bar action-bar"
    "initative-band combat-band"
    "initative-band monster-band";
  height: 100vh;

  .action-bar {
    grid-area: action-bar;
    border-bottom: solid 1px #eeeeee;
  }

  .initative-band {
    grid-area: initative-band;
    border-right: solid 1px #eeeeee;
  }

  .monster-band {
    grid-area: monster-band;
    display: flex;
    flex-direction: row;

    height: calc(100vh - 270px);
    width: calc(100vw - 12rem);
    overflow-x: scroll;

    monster-band {
      height: calc(100vh - 270px);
      overflow-y: scroll;
      min-width: 440px;
    }
  }

  .combat-band {
    grid-area: combat-band;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #eeeeee;
    padding: 5px;

    element-tracker {
      margin-left: auto;
    }
  }
}