<div class="container">
  <div class="action-bar">
    <action-bar (monsterSearched)="monsterSearched($event)" (playerSearched)="addPlayer($event)" (newRound)="newRound()" (reset)="reset()" [globalLevel]="globalLevel" (globalLevel)="updateGlobalLevel($event)" [round]="round"></action-bar>
  </div>
  <div class="initative-band">
    <initative-tracker [characters]="initatives" [newRoundListener$]="newRound$" [sortListener$]="sort$" (delete)="deleteCharacter($event)"></initative-tracker>
  </div>
  <div class="combat-band">
    <combat-band [newRoundListener$]="newRound$"></combat-band>
    <element-tracker [newRoundListener$]="newRound$"></element-tracker>
  </div>
  <div class="monster-band">
    <monster-band *ngFor="let m of monsters; let i = index" [monster]="m" (destroyMonster)="removeMonster($event)" [newRoundListener$]="newRound$" (initative)="initativeChange($event, m.name)" (addMonster)="monsterSearched(m.name)"></monster-band>
  </div>
  <monster-modal *ngIf="monsterModalVisible" [monster]="currentMonster" (addMonsters)="addMonsters($event)" (cancel)="closeMonsterModal()"></monster-modal>
  <initative-modal *ngIf="playerModalVisible" [initatives]="initatives" (complete)="continueNewRound()" (cancel)="closeInitativeModal()"></initative-modal>
</div>
