.denomination {
  position: relative;
  display: inline-block;

  &-min2 {
    background-image: url("assets/cards/attack-modifiers/card-parts/minus2.png");
  }

  &-min1 {
    background-image: url("assets/cards/attack-modifiers/card-parts/minus1.png");
  }

  &-plus0 {
    background-image: url("assets/cards/attack-modifiers/card-parts/plus0.png");
  }

  &-plus1 {
    background-image: url("assets/cards/attack-modifiers/card-parts/plus1.png");
  }

  &-plus2 {
    background-image: url("assets/cards/attack-modifiers/card-parts/plus2.png");
  }

  &-crit {
    background-image: url("assets/cards/attack-modifiers/card-parts/crit.png");
  }

  &-whiff {
    background-image: url("assets/cards/attack-modifiers/card-parts/whiff.png");
  }

  &-bless {
    background-image: url("assets/cards/attack-modifiers/card-parts/crit-bless.png");
  }

  &-curse {
    background-image: url("assets/cards/attack-modifiers/card-parts/whiff-curse.png");
  }
}
