.character {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 3fr 2fr;
  grid-template-areas:
    "icon name"
    "icon initative";

  padding: .75em 1.5em;
  border-bottom: solid 1px black;

  position: relative;

  font-family: PirataOne;

  &:hover .icon {
    transform: scale(1.2);
  }

  .icon {
    grid-area: icon;
    width: 50px;
    height: 50px;

    transition: all 0.2s ease-in;
  }

  .name {
    grid-area: name;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .initative {
    grid-area: initative;

    display: flex;
    align-self: center;
    justify-self: center;

    text-align: center;

    width: 50px;
    border: solid 1px #eeeeee;

    padding: 3px 0;
  }

  .delete {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 10;
    cursor: pointer;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-family: PirataOne;
}