:host {
    grid-row: 1;
    grid-column: 1;
    background-color: rgba(200,200,200,0.5);
    border: 1px solid black;
    border-radius: 5px;
}

.card-content {
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 40px auto;
    grid-template-areas:
        "title title"
        "icon body";
}

.card-title {
    grid-area: title;
}

.card-icon {
    grid-area: icon;
}

.card-body {
    grid-area: body;
}